@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gellix Medium;
  src: url(/font/Helvetica-Medium.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: #160042;
  color: white;
  font-family: Helvetica Medium, sans-serif;
}

/*First Button */

.button {
  text-align: center;
  display: inline-block;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
  letter-spacing: 0.05rem;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  gap: 12px;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #6720fe;
  border-radius: 30px;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #00cbff;
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 30px;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  height: 100%;
}

.button:hover .arrow {
  transform: rotate(45deg);
}

/* Second Button */

/* Define the gradient-button class */

.gradient-button {
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin: 10px;
  padding: 19px 30px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 150% auto;
  color: white;
  border-radius: 30px;
  z-index: 1;
}

.gradient-button:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(
    89.78deg,
    #c8bdff -31.69%,
    #baa6ff -22.78%,
    #6721ff 27.93%,
    #00cbff 99.79%
  );
}

/* Define the arrow transformation */
.gradient-button:hover .arrow {
  transform: rotate(45deg);
}

/* cards */

.writing-card {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 33vh;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  overflow: hidden;
}

.writing-card-svg {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background: */
.writing-card-svg::after {
  border-radius: 50%;
  content: " ";
  position: absolute;
  width: 62px;
  height: 62px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    87.22deg,
    #c8bdff -1.82%,
    #baa6ff 5.99%,
    #6721ff 50.47%,
    #00cbff 113.5%
  );
  z-index: -1;
}

/* Button with no style but Blue on hover */

.simple-button {
}
